.case-list{
    background-color: white;

}
.case-list .list-item{
    flex: 0 0 calc(33.33% - 6px);
    height: 470px;
    box-sizing: border-box;
    margin: 5px 3px;
}
.case-list .list-item .item-mark .item-mark-body{
    /*width: calc(33.33vw - 3px);*/
    width: 100%;
    height: 470px;
    background:linear-gradient(0deg,rgba(254,70,70,1),rgba(220,1,1,1));
    opacity:0.89;
    position: relative;
    z-index: 1;
    top: 406px;
    transition: all 0.2s;
    overflow: hidden;
    /*top: 0;*/
}
.case-list .list-item:hover .item-mark .item-mark-body{
    top: -0px;
}
.item-button{
    height: 0;
}
.body-inner-name{
    position: relative;
    top: -245px;
    font-size: 24px;
}
.case-list .list-item:hover .body-inner-name{
    top: 0px;
    font-size: 29px;
}
.show-more img{
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}