html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: "Microsoft YaHei";
  background-color: #272a2f;
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.zhanao-serves{
  width:100%;
  height:530px;
  background:rgba(220,1,1,1);
}
.zhanao-serves .serves-item{
  text-align: center;
  background:linear-gradient(90deg,rgba(189,1,1,1),rgba(220,1,1,1));
  vertical-align: top;
  padding-top: 164px;
  cursor: pointer;
}
.zhanao-serves .serves-item img{
  margin: 0 auto;
}
.zhanao-serves .serves-item .serves-name{
  font-size:30px;
  font-weight:400;
  color:rgba(255,255,255,1);
  margin-top: 60px;
}
.zhanao-serves .serves-item .serves-tip{
  font-size:30px;
  font-weight:300;
  color:rgba(255,255,255,1);
  margin-top: 5px;
}
.zhanao-serves .serves-item .hover-span{
  position: relative;
  top: 14px;
  display: none;
}
.zhanao-serves .serves-item:hover{
  background:linear-gradient(0deg,rgba(254,70,70,1),rgba(220,1,1,1));
}
.zhanao-serves .serves-item .item-body{
  position: relative;
  transition: all 0.4ms;
  top: 0;
}
.zhanao-serves .serves-item:hover .item-body{
  top: -60px;
}
.zhanao-serves .serves-item:hover .hover-span{
  display: unset;
}
.zhanao-case{
  /*height: 373px;*/
  text-align: center;
  background-color: white;
  padding-top: 135px;
  /*margin-bottom: 32px;*/

}
.zhanao-case .case-name-cn{
  color: #5A5A5A;
  font-size: 30px;
}
.zhanao-case .case-name-en{
  color: #DB0101;
  font-size: 30px;
}
.zhanao-case .case-describe{
  color: #515151;
  font-size: 22px;
  width: 50%;
  margin: 60px auto 0 auto;
}
 .case-switch{
  padding-top: 60px;
  text-align: center;
   padding-bottom: 40px;
}
 .case-switch .case-switch-item{
  display: inline-block;
  width:129px;
  height:35px;
  color: #5A5A5A;
  border-radius:10px;
  box-sizing: border-box;
  padding-top: 5px;
  cursor: pointer;
}
 .case-switch .case-switch-item.active{
  background-color: #DB0101;
  color: white;
}
 .case-list{
  display: flex;
  flex-wrap: wrap;
}
 .case-list .list-item{
  flex: 0 0 33.33%;
  height: 480px;
  overflow: hidden;
  /*background-color: #67C23A;*/
  /*border: 1px solid #EC3329;*/
}
 .case-list .list-item .item-mark{
  height: 0;
}
.case-list .list-item .item-mark .item-mark-body{
  width: 33.33vw;
  height: 480px;
  background:linear-gradient(0deg,rgba(254,70,70,1),rgba(220,1,1,1));
  opacity:0.89;
  position: relative;
  z-index: 1;
  top: -480px;
  transition: all 0.2s;
  overflow: hidden;
  /*top: 0;*/
}
.item-mark-body-inner{
  margin-top: 150px;
  text-align: center;
  cursor: pointer;
}
.item-mark-body-inner img{
  display: inline-block;
  margin: 0 auto;
}
.body-inner-name{
  margin-top: 45px;
  font-size: 29px;
  color: #FFFFFF;
}
.body-inner-enter{
  margin-top: 5px;
  font-size: 18px;
  color: #FFFFFF;
}

 .case-list .list-item:hover .item-mark .item-mark-body{
  top: 0;
}
.case-more{
  height: 106px;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 106px;
  background-color: #DB0101;
  cursor: pointer;
}
.choice-zhanao{
  height: 845px;
  background: url("./../image/choice-bg.png") 100% 100%;
}
.title-cn{
  padding-top: 85px;
  font-size: 30px;
  color: white;
  text-align: center;
}
.title-en{
  font-size: 30px;
  color: #DB0101;
  text-align: center;
  margin-bottom: 50px;
}

.number-show{
  display: flex;
  justify-content:center;
}
.number-show-item,.number-show-img,.number-show-num,.number-show-num,.number-show-desc{
  text-align: center;
  color: white;
}
.number-show-item{
  flex: 0 0 220px;
}
.number-show-num{
  margin-top: 50px;
  font-size: 60px;
}
.number-show-num span{
  font-size: 35px;
  position: relative;
  top: -25px;
}
.number-show-img img{
  display: inline-block;
  margin: 0 auto;
}
.number-show-desc{
  font-size: 18px;
}
.choice-desc{
  width: 82%;
  margin: 75px auto 0 auto;
  color: white;
  font-size:18px;
  /*font-weight:bold;*/
  color:rgba(232,232,232,1);
  line-height:35px;
}
.contact-us{
  background-color: white;
  text-align: center;

}
.contact-us .title{
  text-align: center;
  font-size: 30px;
  width:333px;
  height:30px;
  font-weight:bold;
  color:rgba(43,43,43,1);
  line-height:24px;
  padding-top: 100px;
  margin: 0 auto 30px auto;
}
.contact-us .title span{
  color: #FA272C;
  line-height:30px;
}
.contact-us .title-2{
  text-align: center;
  font-size: 22px;
  color: #515151;
}
.contact-type{
  width: 80%;
  margin: 90px auto 115px auto;
}
.contact-type .dis_table_cell{
  width: 32%;
  padding:0 60px 0 60px;
}
.contact-type .dis_table_cell .text{
  text-align: left;
  font-size: 18px;
  color: #515151;
}
.contact-type .type-center{
  width: 36%;
}
.contact-type .dis_table_cell img{
  display: inline-block;
  margin: 0 auto 20px auto;

}
.type-left,.type-center{
  border-right: 1px solid rgba(0,0,0,0.2);
}
.zhanao-footer{
  background-color: #DB0101;
  padding: 60px 180px 55px 180px ;
}
.foot-content{
  color: #fffFfF;
  font-size: 18px;
  width: 100%;
  margin-top: 36px;
}
.foot-content .textleft{
  line-height: 40px;
}
.foot-content .textright{
  line-height: 26px;
  width: 50%;
}
.foot-content .textcenter img{
  display: inline-block;
  margin: 0 auto;
}
.foot-logo{
  width: 100%;
}
.foot-icon-gorp{
  position: relative;
  top: 26px;
  left: -21px;
}
.foot-icon-gorp img{
  display: inline-block;
}
.foot-link{
  margin-top: 40px;
}
.foot-link,.foot-link a{
  color: #E4E3E3;
  font-size: 14px;
}

